<!DOCTYPE hmtl>
<head>
  <link rel="stylesheet" href="/css/main.css">
  <title>Late Night Forking</title>
</head>
<html>
	<body>
    <div id="container">
      <div id="header">
        <strong><a href="/">Late night forking</a></strong>
      </div>
      <div id="posts">
        <img id="banner" src="/img/fork.jpg" />
        {{content}}
      </div>
      <div id="footer">
        <div class="info">
          <p>
            <strong>Tuan Nghia Duong</strong><br>
            <a target="blank" href="mailto:tnghia.duong@gmail.com">Email</a> &bull;
            <a target="blank" href="http://github.com/adlq">Github</a> &bull;
            <a target="blank" href="http://twitter.com/d_nghia">Twitter</a> &bull;
            <a target="blank" href="http://www.linkedin.com/in/tnghiaduong">LinkedIn</a>
          </p>
        </div>
      </div>
    </div>
	</body>
</html>
